In [25]:
file_name='cars.txt'
with open(file_name) as file:
    data=file.read()
print(data)

#1
list_car =[]
with open(file_name) as file:
    for count,line in enumerate(file):
        pass
    print("total lines =", count+1)
    
with open(file_name) as file:
    for i in file:
        list_car = i.split(',')
print(" The list of cars\n")
print(list_car)
print(f"total entries = {len(list_car)}")
max(list_car)min(list_car)

Ford, Chevy, Honda, Toyota, Toyota, Nissan, Kia, Nissan, Chevy, Toyota, Honda, Chevy, Toyota, Nissan, Ford, Toyota, Nissan, Mercedes, Chevy, Ford, Nissan, Toyota, Nissan, Ford, Chevy, Toyota, Nissan, Honda, Porsche, Hyundai, Chevy, Chevy, Honda, Toyota, Chevy, Ford, Nissan, Toyota, Chevy, Honda, Chevy, Saturn, Toyota, Chevy, Chevy, Nissan, Honda, Toyota, Toyota, Nissan
total lines = 1
 The list of cars

['Ford', ' Chevy', ' Honda', ' Toyota', ' Toyota', ' Nissan', ' Kia', ' Nissan', ' Chevy', ' Toyota', ' Honda', ' Chevy', ' Toyota', ' Nissan', ' Ford', ' Toyota', ' Nissan', ' Mercedes', ' Chevy', ' Ford', ' Nissan', ' Toyota', ' Nissan', ' Ford', ' Chevy', ' Toyota', ' Nissan', ' Honda', ' Porsche', ' Hyundai', ' Chevy', ' Chevy', ' Honda', ' Toyota', ' Chevy', ' Ford', ' Nissan', ' Toyota', ' Chevy', ' Honda', ' Chevy', ' Saturn', ' Toyota', ' Chevy', ' Chevy', ' Nissan', ' Honda', ' Toyota', ' Toyota', ' Nissan']
total entries = 50

'Ford'

Ford, Chevy, Honda, Toyota, Toyota, Nissan, Kia, Nissan, Chevy, Toyota, Honda, Chevy, Toyota, Nissan, Ford, Toyota, Nissan, Mercedes, Chevy, Ford, Nissan, Toyota, Nissan, Ford, Chevy, Toyota, Nissan, Honda, Porsche, Hyundai, Chevy, Chevy, Honda, Toyota, Chevy, Ford, Nissan, Toyota, Chevy, Honda, Chevy, Saturn, Toyota, Chevy, Chevy, Nissan, Honda, Toyota, Toyota, Nissan
total lines = 1
 The list of cars

['Ford', ' Chevy', ' Honda', ' Toyota', ' Toyota', ' Nissan', ' Kia', ' Nissan', ' Chevy', ' Toyota', ' Honda', ' Chevy', ' Toyota', ' Nissan', ' Ford', ' Toyota', ' Nissan', ' Mercedes', ' Chevy', ' Ford', ' Nissan', ' Toyota', ' Nissan', ' Ford', ' Chevy', ' Toyota', ' Nissan', ' Honda', ' Porsche', ' Hyundai', ' Chevy', ' Chevy', ' Honda', ' Toyota', ' Chevy', ' Ford', ' Nissan', ' Toyota', ' Chevy', ' Honda', ' Chevy', ' Saturn', ' Toyota', ' Chevy', ' Chevy', ' Nissan', ' Honda', ' Toyota', ' Toyota', ' Nissan']
total entries = 50

0

In [60]:
file_name='cars.txt'
with open(file_name) as file:
    data=file.read()
print(data)

#1
list_car =[]
list_car1=[]
with open(file_name) as file:
    for count,line in enumerate(file):
        pass
    print("total lines =", count+1)
    
with open(file_name) as file:
    for i in file:
        list_car = i.split(',')
        
print(" The list of cars\n")
print(list_car)
print(f"total entries = {len(list_car)}")

print("the max numbered entry in the list is for:")
print(max(list_car))

print("the min numbered entry in the list is for:")
print(min(list_car))
for i in list_car:
    str1 = i
    str1 = str1.strip()
    list_car1.append(str1)
print("new list")
print(list_car1)

num = list_car1.count('Honda')
print(num)

Ford, Chevy, Honda, Toyota, Toyota, Nissan, Kia, Nissan, Chevy, Toyota, Honda, Chevy, Toyota, Nissan, Ford, Toyota, Nissan, Mercedes, Chevy, Ford, Nissan, Toyota, Nissan, Ford, Chevy, Toyota, Nissan, Honda, Porsche, Hyundai, Chevy, Chevy, Honda, Toyota, Chevy, Ford, Nissan, Toyota, Chevy, Honda, Chevy, Saturn, Toyota, Chevy, Chevy, Nissan, Honda, Toyota, Toyota, Nissan
total lines = 1
 The list of cars

['Ford', ' Chevy', ' Honda', ' Toyota', ' Toyota', ' Nissan', ' Kia', ' Nissan', ' Chevy', ' Toyota', ' Honda', ' Chevy', ' Toyota', ' Nissan', ' Ford', ' Toyota', ' Nissan', ' Mercedes', ' Chevy', ' Ford', ' Nissan', ' Toyota', ' Nissan', ' Ford', ' Chevy', ' Toyota', ' Nissan', ' Honda', ' Porsche', ' Hyundai', ' Chevy', ' Chevy', ' Honda', ' Toyota', ' Chevy', ' Ford', ' Nissan', ' Toyota', ' Chevy', ' Honda', ' Chevy', ' Saturn', ' Toyota', ' Chevy', ' Chevy', ' Nissan', ' Honda', ' Toyota', ' Toyota', ' Nissan']
total entries = 50
the max numbered entry in the list is for:
Ford
the min numbered entry in the list is for:
 Chevy
new list
['Ford', 'Chevy', 'Honda', 'Toyota', 'Toyota', 'Nissan', 'Kia', 'Nissan', 'Chevy', 'Toyota', 'Honda', 'Chevy', 'Toyota', 'Nissan', 'Ford', 'Toyota', 'Nissan', 'Mercedes', 'Chevy', 'Ford', 'Nissan', 'Toyota', 'Nissan', 'Ford', 'Chevy', 'Toyota', 'Nissan', 'Honda', 'Porsche', 'Hyundai', 'Chevy', 'Chevy', 'Honda', 'Toyota', 'Chevy', 'Ford', 'Nissan', 'Toyota', 'Chevy', 'Honda', 'Chevy', 'Saturn', 'Toyota', 'Chevy', 'Chevy', 'Nissan', 'Honda', 'Toyota', 'Toyota', 'Nissan']
6

In [129]:
data = [11,11,12,11,11,11,11,45,67,23,16,17,19,18,22,20,19,13,13,13,14]
range = max(data)-min(data)
print(range)

sum =0
for i in data:
    sum += i

mean = sum/(len(data))
print(mean)

data.sort()
print(data)
print(len(data))
count = len(data)/2
print(count)

res = isinstance(count, float)  
print(res) 

if res == True:
  
    count -= 0.5
    int(count)
    print(count)  


median = data[int(count)]
median


mode = max(set(data),key=data.count)
print(mode)

56
18.904761904761905
[11, 11, 11, 11, 11, 11, 12, 13, 13, 13, 14, 16, 17, 18, 19, 19, 20, 22, 23, 45, 67]
21
10.5
True
10.0
11

In [117]:
### most fequest mode ####

def most_frequent(List):
    return max(set(List), key=List.count)

List = [2, 1, 2, 2, 1, 3]
print(most_frequent(List))

2

In [159]:
data = [11,12,11,11,11,11,45,67,23,16,17,19,18,22,20,19,13,13,13,14]
range = max(data)-min(data)
print("RANGE")
print(range)

sum =0
for i in data:
    sum += i
print("MEAN")
mean = sum/(len(data))
print(mean)

data.sort()
print(data)
print("total elements")
count = len(data)
print(count)

if(count%2)==0:
    pos =(count+1)/2
    print(pos)
    pos = int(pos)
    print(pos)
    print("Median")
    median = data[pos]+data[pos-1]
    print(median)
else:
    pos = count/2
    pos += 0.5
    print(pos)
    pos = int(pos)
    print("MEDIAN")
    median = data[pos-1]
    print(median)




mode = max(set(data),key=data.count)
print(mode)

RANGE
56
MEAN
19.3
[11, 11, 11, 11, 11, 12, 13, 13, 13, 14, 16, 17, 18, 19, 19, 20, 22, 23, 45, 67]
total elements
20
10.5
10
Median
30
11

In [289]:
### mean median mode range #####

data = [15, 14, 19, 20, 16, 15, 16, 14, 15, 18, 14, 16, 17, 16]

range = max(data) - min(data)
print("RANGE")
print(range)

sum =0
for i in data:
    sum += i
print("MEAN")
mean = sum/(len(data))
print(mean)

data.sort()
print(data)
print("total elements")
count = len(data)
print(count)

#pos gives the index
if(count%2)==0:
    pos =(count+1)/2
    print(pos)
    pos = int(pos)
    print(pos)
    print("Median")
    median = data[pos]+data[pos-1]# I have subtracted because list index starts from 0
    print(median)
else:
    pos = count/2
    pos += 0.5
    print(pos)
    pos = int(pos)
    print("Median")
    median = data[pos-1]# I have subtracted because list index starts from 0
    print(median)




mode = max(set(data),key=data.count) # Here I am converting list to set. In set automatically duplicate values are removed.
print(mode)

RANGE
6
MEAN
16.071428571428573
[14, 14, 14, 15, 15, 15, 16, 16, 16, 16, 17, 18, 19, 20]
total elements
14
7.5
7
Median
32
16

In [179]:

##### variance#####

results=[-14.82381293, -0.29423447, -13.56067979, -1.6288903, -0.31632439,
 
         0.53459687, -1.34069996, -1.61042692, -4.03220519, -0.24332097]
# calculate mean
n= len(results)
sum=0
for i in results:
    sum = sum + i


mean=sum/n
print ('mean: ')

#  calculate the central moment
sum2=0
for i in results:
    sum2=sum2+ (i-mean)**2

myvar1=sum2/n
print ("my variance1: ",myvar1)

# calculate the mean of square minus square of mean
sum3=0
for i in results:
    sum3=sum3+ i**2

myvar2 = sum3/n - mean**2
print ("my variance2: ",myvar2)

mean:
my variance1:  28.822364260579157
my variance2:  28.822364260579157

In [251]:
### standard deviation , variance ,mean ####

from math import sqrt

n =[11, 8, 8, 3, 4, 4, 5, 6, 6, 7, 8]
sum1=0
for i in n:
    sum1 += i

print("MEAN")
mean =sum1/len(n)
print(mean)

SUM= 0
for i in n :
    SUM +=(i-mean)**2
    
variance = SUM/(len(n)-1)
sd = sqrt(variance)
print(variance)
print(sd)
print("Standard deviation")
stdeV = sqrt(SUM/(len(n)-1)) 
print(stdeV)

MEAN
6.363636363636363
5.454545454545455
2.335496832484569
Standard deviation
2.335496832484569

In [275]:
### for s.d from file ###
#filename = "C:\Users\mmb0368\Desktop\input.txt"
#file = open("C:\Users\mmb0368\Desktop\input.txt","rb")

#n = file.readlines()
num_list =[11, 8, 8, 3, 4, 4, 5, 6, 6, 7, 8]
#num_list = map(lambda n: n.rstrip("\n"), n)
#num_list = [int(x) for x in num_list]

mean = int(sum(num_list))/len(num_list)

print(mean)
print(max(num_list))
print(min(num_list))
print(sum(num_list))

TypeError: 'float' object is not callable

In [301]:
a = [1,2]
x= sum(a)
print(x)

TypeError: 'int' object is not callable